<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>lishiqi--个人网站作品集</title>
      <!--favicon-img--> 
   <link rel="icon" type="image/png" href="images/favicon.png">
   <!--favicon-img-->
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css" integrity="sha256-DBYdrj7BxKM3slMeqBVWX2otx7x4eqoHRJCsSDJ0Nxw=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>

    <div id="all">
  <div id="preloader">
    <div class="p">李诗琪</div>
</div>
<div id="breaker"></div>

      <div class="cursor scale"></div>
      <div class="cursor-two  scale"></div>
      <!-- HOME -->
      <div id="home">
    
        <div class="navigation">
        
          <div class="logo home-link fade-down">
           <a href="#">李诗琪</a>
          </div>
        
          <div class="navigation-links">
            <ul>
              <li class="links about-link fade-down"><a href="#0">作者有话说</a></li>
              <li class="links contact-link fade-down"><a href="#0">联系</a></li>
            </ul>
          </div>
        
        </div>
        
              <div class="slider">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12 p-0">
                      <div class="swiper-container parallax-slider">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <div class="img-container one">
                              <div class="slide-text opacity">
                                <a href="#0" class="project-link marine-project-link">关于我
                                  <div class="view-project">点击查看照片</div>
                               </a>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="img-container two">
                              <div class="slide-text opacity">
                                <a href="#0" class="project-link forest-project-link">色彩
                                  <div class="view-project">点击查看作品</div>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="img-container three">
                              <div class="slide-text opacity">
                                <a href="#0" class="project-link wildlife-project-link">素描
                                  <div class="view-project">点击查看作品</div>

                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="img-container four">
                              <div class="slide-text opacity">
                                <a href="#0" class="project-link city-project-link">设计
                                  <div class="view-project">点击查看作品</div>

                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <!-- slider controls -->
                        <div class="slider-controls fade-up-two">
                          <div class="control">
                            <div class="swiper-nav-ctrl prev-ctrl">
                              <img src="images/prev.png" alt="prev" class="slider-control-image">
                            </div>
                          </div>
                          <div class="swiper-pagination-container">
                            <div class="control">
                              <div class="swiper-pagination"></div>
                            </div>
                          </div>
                          <div class="control">
                            <div class="swiper-nav-ctrl next-ctrl">
                              <img src="images/next.png" alt="next" class="slider-control-image">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="scroll-icon fade-up">
                <i class="gg-mouse"></i>
              </div>
              <div class="social-media-links">
                <ul>
                  <li class="fade-up"> <a href="#">我</a> </li>
                  <li class="fade-up"> <a href="#">在</a> </li>
                  <li class="fade-up"><a href="#">四川成都</a> </li>
                </ul>
              </div>
            </div>
      <!-- HOME -->


      <!-- ABOUT -->
<div id="about">
<div id="about-color"></div>
<div class="navigation navigation-about">
        
  <div class="logo home-link about-opacity">
   <a href="#"> 李诗琪</a>
  </div>

  <div class="navigation-links about-opacity">
   <div class="navigation-close hover about-close">
     <div class="navigation-close-line"></div>
     <div class="navigation-close-line"></div>
   </div>
  </div>

</div>
  <div class="about-content">
  <div class="container-fluid m-0 p-0">
    <div class="row">
    <div class="col-0 col-md-0 col-lg-6 col-sm-0 col-xs-0 p-0 m-0">
      <div class="about-img ">
      </div>
    </div>
   <div class="col-12 col-md-12 col-lg-6 col-sm-12 col-xs-12 p-0 m-0">
     <div class="about-text">
       <div class="about-text-container about-opacity">
       <div class="about-text-header">
大家好，我是一名19岁的中国学生，
           来自东软学院

       </div>
       <div class="about-text-paragraph">
         很高兴和大家在这里相遇，也感谢你的观看！命运不会辜负每一位对自己认真努力的人，我也会相信自己.
       </div>
       <div class="about-text-paragraph">
        人生是用来体验的，不是用来演绎完美的，所以我会学着慢慢接受自己的迟钝和平庸.今天的烦恼交给明天吧！
      </div>
       <div class="about-text-button">
         <button class="contact-link-about contact-button hover">Contact Me</button>
       </div>
     </div>
    </div>
   </div>
  </div>
    </div>
  <div class="social-media-links about-opacity">
    <ul>
      <li> <a href="#">我</a> </li>
      <li> <a href="#">在</a> </li>
      <li> <a href="#">四川成都</a> </li>
    </ul>
  </div>
</div>
</div>
      <!-- ABOUT -->

      <!-- PROJECTS -->
      <div id="projects">

        <!-- MARINE PROJECT -->
        <div class="project marine-project">
          <div class="navigation navigation-project">
                
            <div class="logo home-link about-opacity">
             <a href="#"> 李诗琪</a>
            </div>
          
            <div class="navigation-links about-opacity">
             <div class="navigation-close hover marine-close">
               <div class="navigation-close-line"></div>
               <div class="navigation-close-line"></div>
             </div>
            </div>
          
          </div>
          <div class="col-12 p-0 m-0">
         <div class="slideshow-container">
           <div class="slides">
             <img src="images/个人照1.jpg" alt="marine-image">
           </div>
           <div class="slides">
            <img src="images/个人照2.jpg" alt="marine-image">
          </div>
           <div class="slides">
             <img src="images/个人照3.jpg" alt="marine-image">
           </div>
           <div class="slides">
             <img src="images/个人照4.jpg" alt="marine-image">
           </div>
           <div class="slides">
             <img src="images/个人照5.png" alt="marine-image">
           </div>
         </div>
        
         </div>
         <div class="controls">
          <button id ="prev" class="hover"><img src="images/prev.png" alt="" class="imgs"></button>
          <button id ="next" class="hover"><img src="images/next.png" alt="" class="imgs"></button>
        </div>
        <div class="project-name">
          美照
        </div>
        <div class="social-media-links opacity">
          <ul>
            <li> <a href="#">我</a> </li>
            <li> <a href="#">在</a> </li>
            <li> <a href="#">四川成都</a> </li>
          </ul>
        </div>
        </div>
<!-- MARINE PROJECT -->

<!-- FOREST PROJECT -->
<div class="project forest-project">
  <div class="navigation navigation-project">
        
    <div class="logo home-link about-opacity">
     <a href="#"> 李诗琪</a>
    </div>
  
    <div class="navigation-links about-opacity">
     <div class="navigation-close hover forest-close">
       <div class="navigation-close-line"></div>
       <div class="navigation-close-line"></div>
     </div>
    </div>
  
  </div>
  <div class="col-12 p-0 m-0">
 <div class="slideshow">
   <div class="forest-slides">
     <img src="images/色彩1.jpg" alt="marine-image">
   </div>
   <div class="forest-slides">
     <img src="images/色彩2.jpg" alt="marine-image">
   </div>
   <div class="forest-slides">
     <img src="images/色彩3.jpg" alt="marine-image">
   </div>
   <div class="forest-slides">
     <img src="images/色彩4.jpg" alt="marine-image">
   </div>
   <div class="forest-slides">
     <img src="images/色彩5.jpg" alt="marine-image">
   </div>
 </div>

 </div>
 <div class="controls">
  <button id ="forest-prev" class="hover"><img src="images/prev.png" alt="prev" class="imgs"></button>
  <button id ="forest-next" class="hover"><img src="images/next.png" alt="next" class="imgs"></button>
</div>
<div class="project-name">
  色彩
</div>
<div class="social-media-links opacity">
  <ul>
    <li> <a href="#">我</a> </li>
    <li> <a href="#">在</a> </li>
    <li> <a href="#">四川成都</a> </li>
  </ul>
</div>
      </div>
<!-- FOREST PROJECT -->

<!-- wildlife PROJECT -->
<div class="project wildlife-project">
  <div class="navigation navigation-project">
        
    <div class="logo home-link about-opacity">
     <a href="#"> 李诗琪</a>
    </div>
  
    <div class="navigation-links about-opacity">
     <div class="navigation-close hover wildlife-close">
       <div class="navigation-close-line"></div>
       <div class="navigation-close-line"></div>
     </div>
    </div>
  
  </div>
  <div class="col-12 p-0 m-0">
 <div class="slideshow">
   <div class="wildlife-slides">
     <img src="images/素描1.jpg" alt="marine-image">
   </div>
   <div class="wildlife-slides">
     <img src="images/素描2.jpg" alt="marine-image">
   </div>
   <div class="wildlife-slides">
     <img src="images/素描3.jpg" alt="marine-image">
   </div>
   <div class="wildlife-slides">
     <img src="images/素描4.jpg" alt="marine-image">
   </div>
   <div class="wildlife-slides">
     <img src="images/素描6.jpg" alt="marine-image">
   </div>
   <div class="wildlife-slides">
     <img src="images/素描5.jpg" alt="marine-image">
   </div>
 </div>

 </div>
 <div class="controls">
  <button id ="wildlife-prev" class="hover"><img src="images/prev.png" alt="prev" class="imgs"></button>
  <button id ="wildlife-next" class="hover"><img src="images/next.png" alt="next" class="imgs"></button>
</div>
<div class="project-name">
  素描
</div>
<div class="social-media-links opacity">
  <ul>
    <li> <a href="#">我</a> </li>
    <li> <a href="#">在</a> </li>
    <li> <a href="#">四川成都</a> </li>
  </ul>
</div>
      </div>
<!-- wildlife PROJECT -->

<!-- wildlife PROJECT -->
<div class="project city-project">
  <div class="navigation navigation-project">
        
    <div class="logo home-link about-opacity">
     <a href="#"> 李诗琪</a>
    </div>
  
    <div class="navigation-links about-opacity">
     <div class="navigation-close hover city-close">
       <div class="navigation-close-line"></div>
       <div class="navigation-close-line"></div>
     </div>
    </div>
  
  </div>
  <div class="col-12 p-0 m-0">
 <div class="slideshow">
   <div class="city-slides">
     <img src="images/设计1.jpg" alt="city-image">
   </div>
   <div class="city-slides">
    <img src="images/设计2.jpg" alt="city-image">
  </div>
   <div class="city-slides">
     <img src="images/设计3.jpg" alt="city-image">
   </div>
   <div class="city-slides">
     <img src="images/设计4.jpg" alt="city-image">
   </div>
   <div class="city-slides">
     <img src="images/设计5.jpg" alt="city-image">
   </div>
 </div>

 </div>
 <div class="controls">
  <button id ="city-prev" class="hover"><img src="images/prev.png" alt="prev" class="imgs"></button>
  <button id ="city-next" class="hover"><img src="images/next.png" alt="next" class="imgs"></button>
</div>
<div class="project-name">
  设计
</div>
<div class="social-media-links opacity">
  <ul>
    <li> <a href="#">我</a> </li>
    <li> <a href="#">在</a> </li>
    <li> <a href="#">四川成都</a> </li>
  </ul>
</div>
      </div>
<!-- CITY PROJECT -->


      <!-- PROJECTS -->
    </div>

<!--CONTACT PAGE-->
<div id="contact">
  <div class="navigation navigation-contact">
        
    <div class="logo home-link contact-opacity">
     <a href="#">李诗琪</a>
    </div>
  
    <div class="navigation-links contact-opacity">
     <div class="navigation-close hover contact-close">
       <div class="navigation-close-line"></div>
       <div class="navigation-close-line"></div>
     </div>
    </div>
  
  </div>
  <div class="contact-header contact-opacity">
    联系我超方便的！
  </div>
<div class="container-fluid">
  <div class="row p-0 m-0">
  
      <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xs-12 p-0 m-0">
        <div class="form contact-opacity" autocomplete="false">
          <form  id ="myForm" action="mail.php">
            <div class="input-line">
              <input id="name" type="text" placeholder="姓名" class="input-same-line">
              <input id="email" type="email" placeholder="邮件" class="input-same-line">
            </div>
            <div class="input-line-column">
              <input id="subject" type="text" placeholder="联系方式">
              <textarea name="textarea" id="body" class="textarea" placeholder="消息"></textarea>
            </div>
           <button type="button" id="submit" class="hover">确定</button>
          </form>
        </div>
        </div>
</div>

</div>
</div>

<!--CONTACT PAGE-->



    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js" integrity="sha256-4sETKhh3aSyi6NRiA+qunPaTawqSMDQca/xLWu27Hg4=" crossorigin="anonymous"
    ></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bez.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/index.js"></script>
    <script>
       $(function(){
    //marine-slideshow
    var slide_index = 1;  
    displaySlides(slide_index);  
    function nextSlide() {  
        displaySlides(slide_index++);  
    }  
    function prevslide() {  
      displaySlides(slide_index--);   
    }  
    function displaySlides() {  
        var i;  
        var slides = document.getElementsByClassName("slides");  
        if (slide_index > slides.length ) { slide_index = 1 } 
        if (slide_index < 1) { slide_index = slides.length }  
        for (i = 0; i < slides.length; i++) {  
            slides[i].style.opacity = 0;  
           
        }  
        slides[slide_index - 1].style.opacity = 1;  
         
      }
      var next = document.getElementById('next');
      next.addEventListener('click',nextSlide);

      var prev = document.getElementById('prev');
      prev.addEventListener('click',prevslide);
  })

  //forest slideshow

  $(function(){
    var slide_index = 1;  
    displaySlides(slide_index);  
    function nextSlide() {  
        displaySlides(slide_index++);  
    }  
    function prevslide() {  
      displaySlides(slide_index--);   
    }  
    function displaySlides() {  
        var i;  
        var slides = document.getElementsByClassName("forest-slides");  
        if (slide_index > slides.length ) { slide_index = 1 } 
        if (slide_index < 1) { slide_index = slides.length }  
        for (i = 0; i < slides.length; i++) {  
            slides[i].style.opacity = 0;  
           
        }  
        slides[slide_index - 1].style.opacity = 1;  
         
      }
      var next = document.getElementById('forest-next');
      next.addEventListener('click',nextSlide);

      var prev = document.getElementById('forest-prev');
      prev.addEventListener('click',prevslide);
  })
  
  //wildlife slideshow

  $(function(){
    var slide_index = 1;  
    displaySlides(slide_index);  
    function nextSlide() {  
        displaySlides(slide_index++);  
    }  
    function prevslide() {  
      displaySlides(slide_index--);   
    }  
    function displaySlides() {  
        var i;  
        var slides = document.getElementsByClassName("wildlife-slides");  
        if (slide_index > slides.length ) { slide_index = 1 } 
        if (slide_index < 1) { slide_index = slides.length }  
        for (i = 0; i < slides.length; i++) {  
            slides[i].style.opacity = 0;  
           
        }  
        slides[slide_index - 1].style.opacity = 1;  
         
      }
      var next = document.getElementById('wildlife-next');
      next.addEventListener('click',nextSlide);

      var prev = document.getElementById('wildlife-prev');
      prev.addEventListener('click',prevslide);
  })


    //city slideshow

    $(function(){
      var slide_index = 1;  
      displaySlides(slide_index);  
      function nextSlide() {  
          displaySlides(slide_index++);  
      }  
      function prevslide() {  
        displaySlides(slide_index--);   
      }  
      function displaySlides() {  
          var i;  
          var slides = document.getElementsByClassName("city-slides");  
          if (slide_index > slides.length ) { slide_index = 1 } 
          if (slide_index < 1) { slide_index = slides.length }  
          for (i = 0; i < slides.length; i++) {  
              slides[i].style.opacity = 0;  
             
          }  
          slides[slide_index - 1].style.opacity = 1;  
           
        }
        var next = document.getElementById('city-next');
        next.addEventListener('click',nextSlide);
  
        var prev = document.getElementById('city-prev');
        prev.addEventListener('click',prevslide);

      
    })

    </script>

    
  </body>
</html>
