<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WINK - Music Artist Portfolio Web Template</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

   <!--favicon-img--> 
   <link rel="icon" type="image/png" href="images/favicon.jpg">
   <!--favicon-img-->

    <link rel="stylesheet" href="css/index.css">
   

</head>
<body>
    <!-- MAIN CONTENT -->
  
    <main id="about-one">

        
         <!-- CUSTOM CURSOR -->
         <div class="cursor scale"></div>
         <div class="cursor-two scale"></div>
         <!-- CUSTOM CURSOR -->


        <div id="preloader">
            <div class="p">
                <img src="images/headphone.png" alt="headphone">
            </div>
            <div class="p">欢迎各位的到来···</div>
        </div>

        <div id="about-one-content">
                
            <!-- NAVIGATION -->
            <div class="navigation">
                <div class="logo hover ">
                   <a href="index-two.html" class="text">个人网页展示</a>
                </div>
                <div class="menu-bar hover ">
                    <div class="menu-bar-name text">
                        Menu
                    </div>
                    <div class="menu-bar-lines text">
                        <div class="menu-bar-line"></div>
                        <div class="menu-bar-line"></div>
                    </div>
                </div>
            </div>
            <!-- NAVIGATION -->


<!-- progress-bar -->
<div class="progress-bar-container fade-in">
    <div class="progressbar"></div>
</div>
<!-- progress-bar -->


  
<div class="scrolling-part">
      
</div>
         
          
<div class="heading">
    <span class="text">
      ABOUT
    </span> 
 </div>    


<div class="center">
  <!-- ABOUT IMG -->
  <div class="about-img img">
    <img class="img-parallax" src="images/about-img.jpg" alt="about-img">
  </div>
  <!-- ABOUT IMG -->
</div>
<div class="center">
  <div class="about-text">
    <div class="about-text-heading  text-scroll">
     哈喽，很高兴你找到了我。<span class="red"> 我的名字叫徐琴，</span> 今年19岁，喜欢画画和美食，还有打游戏。
    </div>
    <div class="about-text-content  text-scroll">
        在这个页面上，你可以找到我最近在做什么，甚至可能会有一点关于我将来要去哪里。人生总是会出现迷茫的，但我相信山野千里，只要在路上，内心就满是欢喜，生活不是在赶路，而是在感受路。会不自觉的沉沦，会陷入温柔的暮色里，会陷入你。总有风吹不散的认真极目远眺，日暮银河，别在梦里。越过星辰大海，无畏世俗尘埃，心怀浪漫宇宙，也珍惜人间日常，可我偏爱着宇宙，星辰闪烁万家灯火，
    </div>
    
   </div>
</div>

<div class="signature">
   <span class="text-scroll"> Xu QIN.</span>
</div>



             
 <!-- HEADPHONE IMG -->
 <div class="headphone img text">
  <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
</div>
 <!-- HEADPHONE IMG -->

 
        </div>
    </div>



    <!-- NAVIGATION CONTENT -->

    <div class="navigation-content">
      <div class="navigation-logo hover opacity">
        <a href="#" class="text">个人网页展示</a>
       </div>
      <ul class="navigation-ul">
          <li><a href="index-one.html" data-text="Home" data-img="images/bg-image-three.jpg">Home</a></li>
          <li><a href="about-one.html"  data-text="About"  data-img="images/about-img.jpg">About</a></li>
          <li><a href="production-one.html" data-text="Production" data-img="images/album-thumbnail-nine.jpg">Production</a></li>
          <li><a href="blog-one.html"  data-text="Blogs" data-img="images/main-bg-three.jpg">Blogs</a></li>
          <li><a href="contact-one.html"  data-text="Contact" data-img="images/album-thumbnail-four.jpg">Contact</a></li>
      </ul>
      <div class="navigation-close hover about-close opacity">
          <div class="navigation-close-line"></div>
          <div class="navigation-close-line"></div>
        </div>
  
          <div class="project-preview"></div>
  
          
   <!-- HEADPHONE IMG -->
   <div class="headphone-navigation opacity">
      <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
    </div>
     <!-- HEADPHONE IMG -->
  
  
      <!-- SOCIAL MEDIA LINKS -->
      <div class="social-media-links-navigation">
          <ul>
              <li ><a href="#"  class="text hover opacity">YT</a></li>
              <li ><a href="#"  class="text hover opacity">FB</a></li>
              <li ><a href="#"  class="text hover opacity">IG</a></li>
          </ul>
      </div>
        <!-- SOCIAL MEDIA LINKS -->
  
  </div>
  
  <!-- NAVIGATION CONTENT -->




    </main>
    <!-- MAIN CONTENT -->

<script src="js/jquery.min.js"></script>
<script src="js/bez.js"></script>
<script src="js/pace.js"></script>
<script src="js/index.js"></script>
</body>
</html>