/*--------------------- Responsive (Start) ---------------------*/
@media (max-width: 991px){
    html{
        font-size: 55%;
    }

    .sidebar{
        left: -120%;
    }

    .sidebar.active{
        left: 0%;
    }

    #menu{
        display: block;
    }

    body{
        padding: 0;
    }

}

@media (max-width: 768px){

    section{
        padding: 2rem;
    }

}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .sidebar{
        width: 100%;
    }

    section{
        padding: 1rem;
    }
}

/*--------------------- Responsive (End) ---------------------*/